<header class="header header-intro-clearance header-1">

    <div class="header-middle">
        <div [class]="containerClass">
            <div class="header-left">
                <myshop-mobile-button></myshop-mobile-button>

                <a routerLink="/" class="logo">
                    <img src="assets/images/logo.png" alt="MyShop Logo" width="104" height="27">
                </a>
            </div>

            <div class="header-center">
                <myshop-header-search style="width: 100%;"></myshop-header-search>
            </div>

            <div class="header-right">
                <myshop-cart-menu></myshop-cart-menu>
            </div>
        </div>
    </div>
</header>